.container{
    width: 38px;
    height: 38px;
    border: 1px solid #f52222;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    position: relative;
    
   
}
.icon{
    font-size: 14px;
}
.ball{
    width: 21px;
    height: 21px;
    background-color: #53c28b;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}