.container{
    background-color: rgb(106, 11, 196);

}
.button{
    padding: 20px;
    cursor: pointer;
    background-color: #13b96c;
    border: none;
    border-radius: 7px;
    width: max-content;
    color: white;
  }
  .inmContainer{
    width: 100%;
    height: 350px;
    position: relative;
  }
  .img{
    object-fit: cover;
    filter: grayscale(100%);
  }
  .imgText{
    position: absolute;
    bottom: 30px;
    left: 20px;
    background-color: #13b96c;
    padding: 10px;
    color: white;
  }
  .textContainer{
    display: flex;
    gap: 100px;
  }
  .item{
    flex: 1;
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
